{% extends 'base.html.twig' %}

{% block title %}Listado de clientes{% endblock %}

{% block body %}
    <h1>Cliente index</h1>

    <ul>
        {% for cliente in clientes %}
            <li>
                {{ cliente.id }}
                {{ cliente.nombre }}
                {{ cliente.direccion }}
                {{ cliente.cp }}
                {{ cliente.ciudad }}
                    <a href="{{ path('cliente_show', {'id': cliente.id}) }}">Ir al detalle</a>
            </li>
        {% endfor %}
        
    </ul>


    <a href="{{ path('cliente_new') }}">Create new</a>
{% endblock %}