{% extends 'base.html.twig' %}


{% block body %}

<h1>Listado de personas</h1>
<ul>
    {% for persona in personas %}
        <li>{{ persona.nombre }} - {{ persona.edad }} - {{persona.telefono}} - {{persona.ciudad}}</li>
    {% endfor %}
</ul>

<a href="{{ path('persona_nuevo') }}">Añadir persona</a>

{% endblock %}

